@import "./reset";
@import "./header";
@import "./shop";

@import "./responsiveXL";

section {
  transition: transform 0.25s;
  will-change: transform;
}
.heading__img {
  transition: all 200ms ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px, auto);
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;

  grid-template-areas:
    "header header header header"
    "shop shop shop shop"
    "two two two two"
    "three three three three"
    "four four four four";

  @include respond2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;

    grid-template-areas:
      "header header header header"
      "shop shop shop shop"
      "two two three three "
      "four four three three";
  }

  @include respond {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;

    grid-template-areas:
      "header header shop shop"
      "header header shop shop"
      "header header shop shop"
      "header header shop shop"
      "two three three four";
  }
}

.header {
  grid-area: header;
}

.shop {
  grid-area: shop;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
